
.main-container{
    border-top: 1px solid grey;
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
.Heading-body{
    font-family: cursive ;
    font-style: italic;
    color: darkgreen;
    padding-left: 20px;
}
.search-btn{
    width: 100px;
    cursor: pointer;
    border:  1px solid black;
    border-radius: 5px;
    background-color: white;
}
input{
    padding: 10px;
    padding-top: 15px;
    height: 10px;
    font-size: large;
    background: #f0f0f0;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
input::placeholder{
    color: grey;
    font-size: large;
    text-align: baseline;
}

.top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container div{
    display: flex;
    gap: 10px
}

.search-btn:hover{
    background-color: black;
    color: white;
}
.search-container{
    display: flex;
    gap: 10px;
    margin: 20px;
}
.filter-btn
{
    margin: 20px;
}