
.main-container{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
.Heading-body{
    padding-left: 20px;
}
.search-btn{
    width: 100px;
    cursor: pointer;
    border:  1px solid black;
    border-radius: 5px;
    background-color: white;
}
.search-btn:hover{
    background-color: black;
    color: white;
}
.search-container{
    display: flex;
    gap: 10px;
    margin: 20px;
}
.filter-btn
{
    margin: 20px;
}