.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.nav-items{
    margin: 0 50px;
}
.nav-items li{
    list-style: none;
    cursor: pointer;
    margin: 0 50px;
}
.item-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    width: 150px;
}
.shimmer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body{
    margin: 20px 10px;
}
.search-container{
    display: flex;
    gap: 30px;
    margin: 20px;
}
.res-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-content{
    text-align: center;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.res-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}